<!DOCTYPE html>
<html lang="en">
    <script src='/js/loginValidator.js'></script>
<%- include('./partials/head') %>
    <title>Login</title>
    
</head>
<body>
    <%- include('./partials/nav') %>
    <!-- INICIO MAIN -->
    <main class="formLogin">
        <div class="principalForm">
        <fieldset>
        <form action="/users/login" method="POST" class="loginForm">
            <p class="formTitle">
                ¡BIENVENIDO DE NUEVO!
            </p>
            <!-- errors form -->
            <div class="errorsMsg">
                <ul class="errorsMsgUl">
                </ul>
            </div>            
            <div class="flexForm">
            <p>
                <label for="email">Email:</label>
            </p>
            <input type="text" id="nombre" name="email"  autocomplete="on" >
            <br><% if (locals.errors && errors.email) { %>
                <div class="errorsMsg"><%= errors.email.msg %> </div>
            <% } %>
            <p>
                <label for="password">Contraseña:</label>
            </p>
            <input type="password" id="password" name="password"  autocomplete="on" >
            <div class="remindUserC">Recordarme<input type="checkbox" name="remindUser" id="remindUser"></div>
            <br>
            <% if (locals.errors && errors.password) { %>
                <div class="errorsMsg"><%= errors.password.msg %> </div><br>
            <% } %>
            <!-- <p> <a id="formA" href="#"> ¿Olvidaste tu contraseña?  </a></p> -->
            </div>
            <a class="loginBtn" href="/shoppingcart"><input class="loginBtn" type="submit" href="/shoppingcart" value="INGRESAR"></a>
        </form>

            <p class="formTitle2">
                ¿NO ESTÁS REGISTRADO?
            <p>
                <a class="loginBtn" href="register"><input class="loginBtn" type="submit" href="register" value="REGÍSTRATE"></a>
                </p>
            </p>

        </fieldset>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>