<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/headAPI') %>
    <title>Detalle API</title>
</head>
<body>
    <!-- INICIO HEADER -->
    <%- include('./partials/nav') %>
    <!-- INICIO MAIN -->
    <main >
   
        <div >
        <ul class="api">
            
               <li> <span>Name:</span>  <%= product.name %> </li>
               <br>
               <li> <span>Description:</span>  <%= product.description %></li>
               <br>
               <li> <span>Price:</span>  <%= product.price %></li>
               <br>
               <li> <span>Image:</span>  <a class='url' href="http://localhost:3001/images/<%= product.img %>"><%= product.img %></a></li>
               <br>
               <li> <span>Warning:</span>  <%= product.warning %></li>
               <br>
               <li> <span>Category:</span>  <%= product.category_id %></li>
               <br>
               <li> <span>Stock:</span>  <%= product.stock %></li>
           
        </ul>            

        </div>
      
    </main>
    <%- include('./partials/footer') %>
</body>
</html>

