<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <title>Detalle API</title>
</head>
<body>
    <!-- INICIO HEADER -->
    <%- include('./partials/nav') %>
    <!-- INICIO MAIN -->
    <main >
   
        <div >
        
            <li class="api">
                <%= product.name %> <br>
                <%= product.description %><br>
                <%= product.price %><br>
                <a href="http://localhost:3001/images/<%= product.img %>"><%= product.img %></a>
                <%= product.warning %><br>
                <%= product.category_id %><br>
                <%= product.stock %><br>
            </li>
            
            

    </div>
      
    </main>
    <%- include('./partials/footer') %>
</body>
</html>

