<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/headAPI') %>
    <title>Perfil API</title>
</head>
<body>
    <!-- INICIO HEADER -->
    <%- include('./partials/nav') %>
    <!-- INICIO MAIN -->
    <main >
   
        <div >
            <ul class="api">
        <% for( let i = 0; i < products.length; i++ ) { %>
           
               <li> <a class='url' href="listProducts/detail/<%= products[i].id %>"><%= products[i].name %></a></li><br>
        
            <% } %>
            
        </ul>
    </div>
      
    </main>
    <%- include('./partials/footer') %>
</body>
</html>

