<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/product.css">
    <title><%= product.name %></title>
</head>
<body>
    <%- include('./partials/nav') %>
    <!-- INICIO MAIN -->
    <main>
        
                <div class="card">
                        <h4 class="productname"><%= product.name %></h4>
                        
                <div class="notitle">
                    <section class="noenvio"> 
             <div class="picture"> <img src="/images/<%= product.img %>" alt="vaper4"></div>
                <div class="cardinfo">
                    
                    <div class="det">
                        
                    <h2 class="detalles">VER DETALLES</h2><br>
                        <br>
                    <p class="description"> 
                        
                        <%= product.description %><br>    
                        <br>
                     <em><%= product.warning %></em></p>
                    </div>
                    <%- include('./partials/addtocart') %>
                </div>    </section>
            
                <%- include('./partials/envios') %>
                    
                    </div>
                    <div class="loginBtn2"><a class="loginBtn" href="/products/<%=product.id%>/modifyproduct"><input class="loginBtn" type="submit" href="/products/<%=product.id%>/modifyproduct" value="EDIT PRODUCT"></a></div>
            </div>
            

        </main>
    <!-- FIN MAIN --> 
    <%- include('./partials/footer') %>  
</body>
</html>