<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <title>Perfil API</title>
</head>
<body>
    <!-- INICIO HEADER -->
    <%- include('./partials/nav') %>
    <!-- INICIO MAIN -->
    <main >
   
        <div class="card">
        <% for( let i = 0; i < users.length; i++ ) { %>
           
                <a class ="api"id="api" href="listUsers/detail/<%= users[i].id %>"><%= users[i].name %></a>
            
            <% } %>
    </div>
      
    </main>
    <%- include('./partials/footer') %>
</body>
</html>

