<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <title>Detalle API</title>
</head>
<body>
    <!-- INICIO HEADER -->
    <%- include('./partials/nav') %>
    <!-- INICIO MAIN -->
    <main >
   
        <div >
        
            <li class="api">
                <%= user.name %> <br>
                <%= user.last_name %><br>
                <%= user.email %><br>
                <%= user.birth_date %><br>
                <%= user.user_img %>
            </li>
            
    </div>
      
    </main>
    <%- include('./partials/footer') %>
</body>
</html>

