<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/headAPI') %>
    <title>Detalle API</title>
</head>
<body>
    <!-- INICIO HEADER -->
    <%- include('./partials/nav') %>
    <!-- INICIO MAIN -->
    <main >
   
        <div >
            <ul class="api2">
           
               <li><span>Name: </span><%= user.name %></li>
               <br>
                <li><span>Last name: </span><%= user.last_name %></li>
                <br>
                <li><span>Email: </span><%= user.email %></li>
                <br>
                <li><span>Birthday: </span><%= user.birth_date %></li><br>
                <li><span>Profile image: </span><a class='url2'href="http://localhost:3001/images/users/<%= user.user_img %>"><%= user.user_img %></a></li>
           
                
        </ul>  
    </div>
      
    </main>
    <%- include('./partials/footer') %>
</body>
</html>

